script(type="text/javascript").
	var require = 
	{
		baseUrl: '/public/js/',
		paths:
		{
			ViewModel: "#{ViewModel}"
		},
		shim:
		{
			
		},
		deps: [],
		map:
		{

		},
		config:
		{
			//- 'ViewModel':
			//- {
			//- 	'data': !{ JSON.stringify(ViewModelData) }
			//- }
		}
	};
	